@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	/* Units */
	--16px-in-rem: 1.008rem;
	--14px-in-rem: 0.882rem;

	/* Typography */
	--text-display-1: 4.032rem; /* 64px */
	--text-display-2: 3.024rem; /* 48px */

	--text-h1: 2.268rem; /* 36px */
	--text-h2: 1.89rem; /* 30px */
	--text-h3: 1.512rem; /* 24px */
	--text-h4: 1.26rem; /* 20px */

	--text-lg: 1.134rem; /* 18px */
	--text-base: var(--16px-in-rem); /* 16px */
	--text-sm: var(--14px-in-rem); /* 14px */
	--text-xm: 0.756rem; /* 12px */

	--btn-text-lg: var(--16px-in-rem); /* 16px */
	--btn-text-base: var(--14px-in-rem); /* 14px */

	--nav-link-text-lg: var(--16px-in-rem); /* 16px */
	--nav-link-text-base: var(--14px-in-rem); /* 14px */

	--subtext-line-height: 1.35;

	--card-border-radius: 1rem;

	--roboto-font: Roboto;
	--raleway-font: Raleway;

	/* Colors: 60-30-10 Rule */
	--primary-dark: #f1f1f1;
	--primary-light: #ffffff;

	--secondary-dark: #145fef;
	--secondary-light: #d9d9d9;

	--accent-100: #cfe0ff;
	--accent-200: #9cc0ff;
	--accent-300: #5e8de8;
	--accent-400: #2f69d6;
	--accent-500: #1554cf;
	--accent-600: #1143a6;
	--accent-700: #082f7b;
	--accent-800: #031f57;
	--accent-900: #01153b;

	--secondary-100: #e6e6e6;
	--secondary-200: #bbbdc2;
	--secondary-300: #93969d;
	--secondary-400: #696d74;
	--secondary-500: #4c4f57;
	--secondary-600: #393c44;
	--secondary-700: #292c34;
	--secondary-800: #181b22;
	--secondary-900: #07080b;

	--tertiary-dark: #1a1a1a;
	--tertiary-light: #6e6e6e;

	/* Spacing */
	--space-4: 0.25rem;
	--space-8: 0.5rem;
	--space-12: 0.75rem;
	--space-16: 1rem;
	--space-20: 1.25rem;
	--space-24: 1.5rem;
	--space-32: 2rem;
	--space-40: 2.5rem;
	--space-48: 3rem;
	--space-56: 3.5rem;
	--space-64: 4rem;
	--space-72: 4.5rem;
	--space-80: 5rem;
	--space-96: 6rem;
	--space-104: 6.5rem;
	--space-112: 7rem;
	--space-120: 7.5rem;
	--space-128: 8rem;
	--space-136: 8.5rem;
	--space-144: 9rem;
}

html,
body {
	font-family: Roboto;
	background-color: var(--primary-dark);
	color: var(--secondary-500);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.w-full {
	max-width: 73.125rem; /* 1170px */
}

.social-wrapper {
	height: auto;
}

.social-content {
	position: fixed;
	top: 50%;
	right: 2.5px;
	transform: translateY(-50%);
	width: fit-content;
	background-image: linear-gradient(to bottom right, #008cff, #e100ff);
	z-index: 100;
	opacity: 1;
	transition: all 0.3s ease;
}

.social-content.fixed {
	position: fixed;
	transform: translateY(0);
}

.social-content ul {
	list-style: none;
	padding: 0.75rem;
	margin: 0 auto;
	text-align: center;
}

.social-content ul > li {
	display: block;
	font-size: var(--text-h3);
}

.social-content ul > li.text {
	display: none;
}

.social-content ul > li > a {
	color: var(--primary-dark);
}

.social-content ul > li:not(:last-child) {
	margin-bottom: 0.75rem;
	margin-right: 0;
}

.hero {
	position: relative;
	background-image: none;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	background-attachment: scroll;
	width: 100%;
	height: auto;
	padding: min(1.5em, 50%) min(1.5em, 4%);
	box-sizing: border-box;
}

.hero::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.188rem;
	background-image: none;
}

.hero > .inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
}

.hero > .inner > .content {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	height: 100%;
}

.hero > .inner > .content > .left {
	width: 135%;
	max-width: 100%;
}

.hero > .inner > .content > .right {
	width: 75%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	height: 10dvh;
	gap: 0.35rem;
	opacity: 1;
}

.hero > .inner > .content > .right > * {
	height: 1.875rem;
	width: 1.875rem;
}

.hero > .inner > .content .left .hero-top-proof {
	display: none;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: var(--space-8);
}

.hero > .inner > .content .left .hero-top-proof > .stars {
	display: flex;
	flex-direction: row;
	gap: var(--space-4);
}

.hero > .inner > .content .left .hero-top-proof > .stars > * {
	width: 0.938rem;
	height: 0.938rem;
}

.hero > .inner > .content > .left > .hero-top-proof > .pitch-experience {
	font-weight: 700;
	font-size: clamp(var(--14px-in-rem), 0.774rem + 0.226vw, var(--16px-in-rem));
	color: var(--tertiary-light);
}

.hero > .inner > .content > .left > .heading-lg {
	margin-top: var(--space-20);
}

.hero > .inner > .content > .left > .subtext-md {
	margin-top: var(--space-20);
	max-width: 38.125rem;
}

.hero .cta-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: var(--space-20);
	margin-top: var(--space-40);
}

.hero .cta-container .subtext-sm {
	max-width: 11.25rem;
}

.main {
	padding: clamp(3.5rem, 4vw, 6.5rem) 0;
}

.main > .companies > .container > .heading-md,
.main > .projects > .heading-md {
	margin-bottom: var(--space-40);
	font-weight: 700;
}

.main > .projects > .heading-md {
	text-align: left;
}

.main > .companies {
	position: relative;
	margin-top: var(--space-144) !important;
	padding: var(--space-40) min(var(--space-16), 4%);
	background-color: var(--secondary-100);
}

.main > .projects {
	margin-top: var(--space-144) !important;
}

.features.w-full > .inner {
	display: grid;
	grid-template-columns: repeat(1fr, 1fr);
	gap: var(--space-40);
}

.features.w-full > .inner > .card > .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-100);
	box-shadow: 1px 1px 2px var(--secondary-200);
	gap: var(--space-16);
	padding: min(2em, 8%);
	text-align: center;
	min-height: 9.375rem;
}

.features.w-full > .inner > .card > .content .heading-sm {
	font-weight: bold;
}

.features.w-full,
.companies > .container.w-full,
.projects.w-full {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 0 min(1.5em, 4%);
}

.companies > .container > .heading-md {
	text-align: center;
}

.companies > .container > .inner,
.projects > .inner {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: var(--space-40);
}

.companies > .container > .inner {
	gap: var(--space-40);
}

.projects .tooltip-text {
	bottom: 105%;
}

.companies > .container > .inner > .item,
.projects > .inner > .item {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s ease;
	position: relative;
}

.projects > .inner > .item {
	border-radius: 0.5rem;
}

.companies > .container > .inner > .item:hover {
	transform: translateY(-0.313rem);
}

.projects .card {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 15.625rem;

	display: flex;
	flex-direction: column;
	justify-content: stretch;
	padding: 0.2rem;
}

.projects .card img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.column-reverse {
	flex-direction: column-reverse;
}

.projects .card.row-reverse {
	flex-direction: column;
}

.projects .card-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	background-color: var(--tertiary-light);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1.875rem;
	text-align: center;
}

.projects .card-content h1 {
	margin-bottom: 0.75rem;
}

.projects .card-content h1,
.projects .card-content p {
	color: var(--primary-dark);
}

.projects .card-thumbnail {
	width: 100%;
	box-sizing: content-box;
	background-color: var(--tertiary-light);
	position: relative;
	height: 100%;
}

.projects .card-thumbnail-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(76, 79, 87, 0.5);
	color: var(--primary-dark);
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects .card-text {
	width: 100%;
	height: 100%;
	position: relative;
	/* box-shadow: 0px 0px 10px var(--secondary-100); */
	background-color: var(--secondary-100);
}

.projects .card-text-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: min(var(--space-32), 5%);
	box-sizing: border-box;
	justify-content: space-between;
	gap: var(--space-32);
}

.projects .card-text-wrapper > .main {
	padding: 0;
}

.projects .card-text-wrapper > .main > ul.tech-stack {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.projects .card-text-wrapper > .main > ul.tech-stack > li:not(:last-child) {
	margin-right: 0.5rem;
}

.projects .card-text-wrapper > .main > ul.tech-stack > li {
	background-color: var(--secondary-500);
	color: var(--secondary-100);
	font-weight: 500;
	font-size: var(--text-xm);
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;
	margin: 0.25rem 0;
	position: relative;
}

.projects .card-text-wrapper > .main > .heading-sm {
	margin-top: var(--space-32);
	font-weight: 700;
}

.projects .card-text-wrapper > .main > .subtext-sm {
	margin-top: var(--space-16);
}

.projects .card-text-wrapper > .metrics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	gap: var(--space-32);
}

.projects .card-text-wrapper > .metrics > div {
	width: 100%;
}

.projects .card-text-wrapper > .metrics .heading-sm {
	font-weight: 700;
	margin-bottom: var(--space-16);
}

.footer-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.footer-pitch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: var(--space-144) auto;
	padding: 0 var(--space-16);
	gap: var(--space-40);
	position: relative;
}

.footer-pitch > .avatar {
	max-width: 18.75rem;
}

.footer-pitch > .description {
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: auto 0;
	gap: var(--space-40);
}

.footer-pitch > .description > p:last-of-type {
	width: 80%;
}

.footer-pitch > .avatar img {
	width: 7.5rem;
	height: 7.5rem;
	object-fit: cover;
	border-radius: 1.5rem;
}

.footer-wrapper > .copyright {
	position: relative;
	text-align: center;
	padding: var(--space-24) var(--space-16);
	margin: 0 auto;
}

.btn {
	text-decoration: none;
	user-select: none;
	cursor: pointer;
	padding: 0.875rem 1.875rem 0.688rem;
	font-size: clamp(var(--text-sm), 0.774rem + 0.226vw, var(--text-base));
	font-weight: 700;
	position: relative;
	display: inline-block;
	line-height: 1.5;
	transition: all 0.3s ease;
}

.btn-secondary {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-dark);
	border: 1px solid var(--secondary-dark);
	color: var(--primary-dark);
	width: 6.563rem;
	max-width: max-content;
}

.btn-secondary:hover {
	background-color: var(--primary-dark);
	border: 1px solid var(--secondary-dark);
	color: var(--secondary-dark);
}

.btn-secondary:visited,
.btn-secondary:active {
	color: var(--primary-dark);
}

.emphasize-text {
	font-weight: bold;
	color: var(--secondary-500);
	text-shadow: var(--secondary-200) 2px 2px 1px;
}

.heading-lg {
	font-weight: normal;
	font-size: clamp(var(--text-h2), 2.322rem + 0.678vw, var(--text-display-2));
	line-height: calc(1.75 / 1.89);
	color: var(--secondary-600);
	letter-spacing: -0.045em;
}

.heading-md {
	font-weight: normal;
	font-size: clamp(var(--text-h4), 1.1703rem + 0.3417vw, var(--text-h3));
	line-height: calc(1.5 / 1.26);
	color: var(--secondary-600);
	letter-spacing: -0.025em;
}

.heading-sm {
	font-weight: normal;
	font-size: clamp(var(--text-lg), 0.9753rem + 0.2847vw, var(--text-h4));
	line-height: calc(1.25 / 1.134);
	color: var(--secondary-600);
	letter-spacing: -0.025em;
}

.subtext-lg {
	font-size: clamp(var(--text-lg), 0.9753rem + 0.2847vw, var(--text-h4));
	font-weight: normal;
	line-height: calc(1.75 / 1.134);
	color: var(--secondary-400);
}

.subtext-md {
	font-size: clamp(var(--text-base), 0.8708rem + 0.2542vw, var(--text-lg));
	font-weight: normal;
	line-height: calc(1.5 / 1.008);
	color: var(--secondary-400);
}

.subtext-sm {
	font-size: clamp(var(--text-sm), 0.774rem + 0.226vw, var(--text-base));
	font-weight: normal;
	line-height: calc(1.25 / 0.882);
	color: var(--secondary-400);
}

.subtext-xs {
	font-size: clamp(var(--text-xm), 0.6773rem + 0.1977vw, var(--text-sm));
	font-weight: normal;
	line-height: calc(1 / 0.756);
	color: var(--secondary-400);
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip-text {
	visibility: hidden;
	opacity: 0;
	width: max-content;
	background-color: var(--tertiary-dark);
	color: var(--primary-dark);
	font-size: var(--14px-in-rem);
	text-align: center;
	padding: 0.4rem 0.75rem;
	border-radius: 0.5rem;

	position: absolute;
	bottom: 125%; /* show above the div */
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;

	transition: opacity 0.3s ease;
	white-space: nowrap;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* Small tablets (≥ 600px) */
@media (min-width: 37.5rem) {
	.hero > .inner > .content > .right {
		opacity: 0;
	}
}

/* Tablets (≥ 768px) */
@media (min-width: 48rem) {
	.social-content {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		text-align: right;
		transform: translateY(0);
		opacity: 1;
		transition: all 0.3s ease;
		border-radius: 0;
		background-image: none;
		background-color: var(--primary-dark);
	}

	.social-content::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		transform: translateY(0);
		transition: all 0.3s ease;
		border-radius: 0;
		padding-bottom: 0.188rem;
		background-image: linear-gradient(90deg, #008cff, #e100ff);
		z-index: -1;
	}

	.social-content ul {
		padding: 0.5rem 0;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.social-content ul > li {
		display: inline-block;
	}

	.social-content ul > li.text {
		display: block;
		font-weight: 700;
		font-size: var(--14px-in-rem);
		color: var(--tertiary-light);
	}

	.social-content ul > li > a:not([data-social="youtube"]) {
		color: var(--secondary-dark);
	}

	.social-content ul > li > a[data-social="youtube"] {
		color: #ff0832;
	}

	.social-content ul > li:not(:last-child) {
		margin-right: 0.75rem;
		margin-bottom: 0;
	}

	.hero {
		background-image: url("/images/hero-background-image-desktop.jpg");
		background-color: #b4b5b9;
		background-position: right center;
		padding: min(4.5em, 50%) min(1.5em, 4%);
	}

	.hero::after {
		background-image: linear-gradient(to bottom right, #e100ff, #008cff);
	}

	.hero > .inner > .content {
		flex-direction: row;
		align-items: center;
	}

	.hero > .inner > .content .left .hero-top-proof {
		display: flex;
	}

	.hero .cta-container > .subtext-sm,
	.hero .subtext-lg {
		text-shadow: none;
	}

	.features.w-full > .inner {
		grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
	}

	.companies > .container > .inner {
		grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
	}

	.companies > .container > .inner {
		gap: var(--space-16);
	}

	.projects .card {
		flex-direction: row;
		gap: var(--space-40);
		min-height: 18.75rem;
	}

	.projects .card.row-reverse {
		flex-direction: row-reverse;
	}

	.projects .card-thumbnail {
		width: 70%;
	}

	.projects .card-text-wrapper > .metrics {
		flex-direction: row;
	}

	.footer-pitch {
		flex-direction: row;
	}

	.footer-pitch > .description {
		flex-direction: row;
		align-items: center;
	}

	.footer-pitch > .avatar img {
		width: 100%;
		height: 250px;
	}

	.footer-pitch > .description > p:last-of-type {
		width: 100%;
	}
}

/* Laptops/desktops (≥ 1024px) */
@media (min-width: 64rem) {
	.hero {
		/* background-position: top center; */
		height: auto;
	}
}

/* Large screens (≥ 1280px) */
@media (min-width: 80rem) {
	.hero {
		height: 60dvh;
	}
}
