@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	/* Units */
	--16px-in-rem: 1.008rem;
	--14px-in-rem: 0.882rem;

	/* Typography */
	--text-display-1: 4.032rem; /* 64px */
	--text-display-2: 3.024rem; /* 48px */

	--text-h1: 2.268rem; /* 36px */
	--text-h2: 1.89rem; /* 30px */
	--text-h3: 1.512rem; /* 24px */
	--text-h4: 1.26rem; /* 20px */

	--text-lg: 1.134rem; /* 18px */
	--text-base: var(--16px-in-rem); /* 16px */
	--text-sm: var(--14px-in-rem); /* 14px */
	--text-xm: 0.756rem; /* 12px */

	--btn-text-lg: var(--16px-in-rem); /* 16px */
	--btn-text-base: var(--14px-in-rem); /* 14px */

	--nav-link-text-lg: var(--16px-in-rem); /* 16px */
	--nav-link-text-base: var(--14px-in-rem); /* 14px */

	--subtext-line-height: 1.35;

	--card-border-radius: 1rem;

	--roboto-font: Roboto;
	--raleway-font: Raleway;

	/* Colors: 60-30-10 Rule */
	--primary-dark: #f1f1f1;
	--primary-light: #718096;

	--secondary-dark: #145fef;
	--secondary-light: #d9d9d9;

	--accent-100: #cfe0ff;
	--accent-200: #9cc0ff;
	--accent-300: #5e8de8;
	--accent-400: #2f69d6;
	--accent-500: #1554cf;
	--accent-600: #1143a6;
	--accent-700: #082f7b;
	--accent-800: #031f57;
	--accent-900: #01153b;

	--secondary-100: #e6e6e6;
	--secondary-200: #bbbdc2;
	--secondary-300: #93969d;
	--secondary-400: #696d74;
	--secondary-500: #4c4f57;
	--secondary-600: #393c44;
	--secondary-700: #292c34;
	--secondary-800: #181b22;
	--secondary-900: #07080b;

	--tertiary-dark: #1a1a1a;
	--tertiary-light: #6e6e6e;
}

html,
body {
	font-family: Roboto;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

.w-full {
	max-width: 73.125rem; /* 1170px */
}

.social-wrapper {
	height: auto;
}

.social-content {
	/* position: relative; */
	position: fixed;
	top: 50%;
	right: 2.5px;
	transform: translateY(-50%);
	width: fit-content;
	background-image: linear-gradient(to bottom right, #008cff, #e100ff);
	z-index: 100;
	opacity: 1;
	transition: all 0.3s ease;
	/* border-radius: 0.5rem; */
}

.social-content.fixed {
	position: fixed;
	transform: translateY(0);
}

.social-content ul {
	list-style: none;
	padding: 0.75rem;
	margin: 0 auto;
	text-align: center;
}

.social-content ul > li {
	display: block;
	font-size: var(--text-h3);
}

.social-content ul > li.text {
	display: none;
}

.social-content ul > li > a {
	color: var(--primary-dark);
}

.social-content ul > li:not(:last-child) {
	margin-bottom: 0.75rem;
	margin-right: 0;
}

.hero {
	position: relative;
	background-image: url("/images/hero-background-image-mobile.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
	background-attachment: scroll;
	width: 100%;
	height: auto;
	padding: min(1.75em, 8%) min(1em, 8%);
	box-sizing: border-box;
}

.hero::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-image: linear-gradient(to bottom right, #e100ff, #008cff);
}

.hero > .inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 1.5em min(1.5em, 4%);
	height: 100%;
}

.hero > .inner > .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.hero > .inner > .content > .left {
	width: 130%;
	max-width: 100%;
}

.hero > .inner > .content > .right {
	width: 70%;
}

.hero .cta-container > .subtext-xs,
.hero .subtext-lg {
	text-shadow: 0px 0px 2px var(--primary-light);
}

.hero > .inner > .content > .left > .pitch-experience {
	font-weight: 700;
	font-size: clamp(var(--14px-in-rem, 4vw, var(--16px-in-rem)));
	color: var(--tertiary-light);
}

.hero > .inner > .content > .left > .heading-lg {
	margin-top: 0.5rem;
	line-height: 1;
}

.hero > .inner > .content > .left > .subtext-lg {
	margin-top: 0.75rem;
	max-width: 38.125rem;
	line-height: 1.3;
}

.hero .cta-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	margin-top: 1.7rem;
}

.hero .cta-container .subtext-xs {
	max-width: 180px;
}

.main {
	padding: clamp(3.5rem, 4vw, 6.5rem) 0;
}

.main > .companies > .container > .heading-md,
.main > .projects > .heading-md {
	margin-bottom: 2.5rem;
	font-weight: 700;
}

.main > .projects > .heading-md {
	text-align: left;
}

.main > .companies > .container > .heading-md {
	text-align: center;
}

.main > .companies {
	position: relative;
	margin-top: 6.5rem !important;
	padding: 3em min(3em, 4%);
	/* background-color: var(--secondary-100); */
}

.main > .projects {
	margin-top: 6.5rem !important;
}

.features.w-full > .inner {
	display: grid;
	grid-template-columns: repeat(1fr, 1fr);
	gap: 2.5rem;
}

.features.w-full > .inner > .card > .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-100);
	/* box-shadow: 0px 0px 10px var(--secondary-100); */
	/* border-radius: 0.3rem; */
	gap: 1rem;
	padding: min(2em, 8%);
	text-align: center;
	min-height: 150px;
}

.features.w-full > .inner > .card > .content .heading-sm {
	font-weight: bold;
}

.features.w-full,
.companies > .container.w-full,
.projects.w-full {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	padding: 0 min(1.5em, 4%);
}

.companies > .container > .heading-md {
	color: var(--tertiary-dark);
}

.companies > .container > .inner,
.projects > .inner {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 2.5rem;
}

.companies > .container > .inner {
	gap: 2.5rem;
}

.projects > .inner {
	gap: 1rem;
}

.projects .tooltip-text {
	bottom: 105%;
}

.companies > .container > .inner > .item,
.projects > .inner > .item {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 0.3s ease;
	position: relative;
}

.projects > .inner > .item {
	border-radius: 0.5rem;
}

.companies > .container > .inner > .item:hover {
	transform: translateY(-0.313rem);
}

.projects .card {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 250px;

	display: flex;
	flex-direction: column;
	justify-content: stretch;
	padding: 0.2rem;
}

.projects .card img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.column-reverse {
	flex-direction: column-reverse;
}

.projects .card.row-reverse {
	flex-direction: column;
}

.projects .card-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	background-color: var(--tertiary-light);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	text-align: center;
}

.projects .card-content h1 {
	margin-bottom: 0.75rem;
}

.projects .card-content h1,
.projects .card-content p {
	color: var(--primary-dark);
}

.projects .card-thumbnail {
	width: 100%;
	box-sizing: content-box;
	background-color: var(--tertiary-light);
	position: relative;
	height: 100%;
}

.projects .card-thumbnail-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: var(--primary-dark);
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects .card-text {
	width: 100%;
	height: 100%;
	position: relative;
	/* box-shadow: 0px 0px 10px var(--secondary-100); */
	background-color: var(--secondary-100);
}

.projects .card-text-wrapper {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	height: 100%;
	padding: min(1.5em, 5%);
	box-sizing: border-box;
	justify-content: space-between;
	gap: 1rem;
}

.projects .card-text-wrapper > .main {
	padding: 0;
}

.projects .card-text-wrapper > .main > ul.tech-stack {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 0;
	margin: 0;
}

.projects .card-text-wrapper > .main > ul.tech-stack > li:not(:last-child) {
	margin-right: 0.5rem;
}

.projects .card-text-wrapper > .main > ul.tech-stack > li {
	background-color: var(--secondary-600);
	color: var(--secondary-100);
	font-weight: 500;
	font-size: var(--text-xm);
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;
	margin: 0.25rem 0;
	position: relative;
}

.projects .card-text-wrapper > .main > .heading-sm,
.projects .card-text-wrapper > .metrics .heading-sm {
	color: var(--tertiary-dark);
}

.projects .card-text-wrapper > .main > .subtext-xs,
.projects .card-text-wrapper > .metrics .subtext-xs {
	color: var(--tertiary-light);
}

.projects .card-text-wrapper > .main > .heading-sm {
	margin-top: 0.75rem;
	font-weight: 700;
}

.projects .card-text-wrapper > .main > .subtext-xs {
	margin-top: 0.75rem;
}

.projects .card-text-wrapper > .metrics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	gap: 1rem;
}

.projects .card-text-wrapper > .metrics > div {
	width: 100%;
}

.projects .card-text-wrapper > .metrics .heading-sm {
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.footer-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.footer-pitch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
	padding: 6.6rem min(1.5em, 4%);
	gap: 1.5rem;
	position: relative;
}

.footer-pitch > .avatar {
	max-width: 300px;
}

.footer-pitch > .description {
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: auto 0;
	gap: 1.5rem;
}

.footer-pitch > .description > p:last-of-type {
	width: 80%;
}

.footer-pitch > .avatar img {
	width: 120px;
	height: 120px;
	object-fit: cover;
	border-radius: 1.5rem;
}

.footer-wrapper > .copyright {
	position: relative;
	text-align: center;
	padding: 1em;
	font-size: var(--14px-in-rem);
	color: var(--secondary-500);
	font-weight: 500;
	margin: 0 auto;
}

.btn {
	text-decoration: none;
	user-select: none;
	cursor: pointer;
	padding: 14px 30px 11px;
	font-size: clamp(var(--text-xm), var(--16px-in-rem), var(--text-lg));
	font-weight: 700;
	position: relative;
	display: inline-block;
	line-height: 1.5;
	transition: all 0.3s ease;
}

.btn-secondary {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--secondary-dark);
	border: 1px solid var(--secondary-dark);
	color: var(--primary-dark);
	width: 6.563rem;
	max-width: max-content;
}

.btn-secondary:hover {
	background-color: var(--primary-dark);
	border: 1px solid var(--secondary-dark);
	color: var(--secondary-dark);
}

.btn-secondary:visited,
.btn-secondary:active {
	color: var(--primary-dark);
}

.emphasize-text {
	font-weight: bold;
	color: var(--secondary-500);
	text-shadow: var(--secondary-200) 2px 2px 1px;
}

.heading-lg {
	font-weight: normal;
	font-size: clamp(var(--text-h2), calc(4vw + 1rem), var(--text-display-2));
	color: var(--tertiary-dark);
}

.heading-md {
	font-weight: normal;
	font-size: clamp(var(--text-lg), calc(3vw + 1rem), var(--text-h3));
	color: var(--tertiary-dark);
}

.heading-sm {
	font-weight: normal;
	font-size: clamp(var(--text-base), calc(2vw + 1rem), var(--text-h4));
	color: var(--tertiary-dark);
}

.subtext-lg {
	font-size: clamp(var(--text-base), calc(4vw + 1rem), var(--text-h4));
	font-weight: normal;
	line-height: 1.5;
	color: var(--tertiary-light);
}

.subtext-md {
	font-size: clamp(var(--text-lg), calc(3vw + 1rem), var(--text-base));
	font-weight: normal;
	line-height: 1.5;
	color: var(--tertiary-light);
}

.subtext-sm {
	font-size: clamp(var(--text-sm), calc(2vw + 1rem), var(--text-lg));
	font-weight: normal;
	line-height: 1.5;
	color: var(--tertiary-light);
}

.subtext-xs {
	font-size: clamp(var(--text-xm), calc(1vw + 1rem), var(--text-sm));
	font-weight: normal;
	line-height: 1.5;
	color: var(--tertiary-light);
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip-text {
	visibility: hidden;
	opacity: 0;
	width: max-content;
	background-color: var(--tertiary-dark);
	color: var(--primary-dark);
	font-size: var(--14px-in-rem);
	text-align: center;
	padding: 0.4rem 0.75rem;
	border-radius: 0.5rem;

	position: absolute;
	bottom: 125%; /* show above the div */
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;

	transition: opacity 0.3s ease;
	white-space: nowrap;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* Small tablets (≥ 600px) */
@media (min-width: 37.5rem) {
}

/* Tablets (≥ 768px) */
@media (min-width: 48rem) {
	.social-content {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		text-align: right;
		transform: translateY(0);
		opacity: 1;
		transition: all 0.3s ease;
		border-radius: 0;
		background-image: none;
		background-color: var(--primary-dark);
	}

	.social-content::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		transform: translateY(0);
		transition: all 0.3s ease;
		border-radius: 0;
		padding-bottom: 0.188rem;
		background-image: linear-gradient(90deg, #008cff, #e100ff);
		z-index: -1;
	}

	.social-content ul {
		padding: 0.5rem 0;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.social-content ul > li {
		display: inline-block;
	}

	.social-content ul > li.text {
		display: block;
		font-weight: 700;
		font-size: var(--14px-in-rem);
		color: var(--tertiary-light);
	}

	.social-content ul > li > a:not([data-social="youtube"]) {
		color: var(--secondary-dark);
	}

	.social-content ul > li > a[data-social="youtube"] {
		color: #ff0832;
	}

	.social-content ul > li:not(:last-child) {
		margin-right: 0.75rem;
		margin-bottom: 0;
	}

	.hero {
		background-image: url("/images/hero-background-image-desktop.jpg");
		background-color: #b4b5b9;
		background-position: right center;
		/* background-attachment: fixed; */
		/* height: 100vh;
		height: 100dvh; */
	}

	.hero > .inner > .content {
		flex-direction: row;
	}

	.hero .cta-container > .subtext-xs,
	.hero .subtext-lg {
		text-shadow: none;
	}

	.features.w-full > .inner {
		grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
	}

	.companies > .container > .inner {
		grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
	}

	.companies > .container > .inner {
		gap: 1rem;
	}

	.projects .card {
		flex-direction: row;
		gap: 1rem;
		min-height: 18.75rem;
	}

	.projects .card.row-reverse {
		flex-direction: row-reverse;
	}

	.projects .card-thumbnail {
		width: 70%;
	}

	.projects .card-text-wrapper > .metrics {
		flex-direction: row;
	}

	.footer-pitch {
		flex-direction: row;
	}

	.footer-pitch > .description {
		flex-direction: row;
		align-items: center;
	}

	.footer-pitch > .avatar img {
		width: 100%;
		height: 250px;
	}

	.footer-pitch > .description > p:last-of-type {
		width: 100%;
	}
}

/* Laptops/desktops (≥ 1024px) */
@media (min-width: 64rem) {
	.hero {
		/* background-position: top center; */
		height: auto;
	}
}

/* Large screens (≥ 1280px) */
@media (min-width: 80rem) {
	.hero {
		height: 60dvh;
	}
}
