@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
	/* Units */
	--16px-in-rem: 1.008rem;
	--14px-in-rem: 0.882rem;

	/* Letter spacing factor*/
	--subtext-line-height: 1.35;

	--card-border-radius: 1rem;

	--inter-font: Inter;

	/* Colors: 60-30-10 Rule */
	--primary-dark: #f1f1f1;
	--primary-light: #ffffff;

	--accent-50: #e9ffe4;
	--accent-100: #ccffc4;
	--accent-200: #9eff90;
	--accent-300: #5fff50;
	--accent-400: #29fe1d;
	--accent-500: #07e500;
	--accent-600: #00b800;
	--accent-700: #008000;
	--accent-800: #076d08;
	--accent-900: #0b5c0d;

	--neutral-700: #525252;
	--neutral-900: #292929;

	/* Spacing */
	--space-4: 0.25rem;
	--space-8: 0.5rem;
	--space-12: 0.75rem;
	--space-16: 1rem;
	--space-20: 1.25rem;
	--space-24: 1.5rem;
	--space-32: 2rem;
	--space-40: 2.5rem;
	--space-48: 3rem;
	--space-56: 3.5rem;
	--space-64: 4rem;
	--space-72: 4.5rem;
	--space-80: 5rem;
	--space-96: 6rem;
	--space-104: 6.5rem;
	--space-112: 7rem;
	--space-120: 7.5rem;
	--space-128: 8rem;
	--space-136: 8.5rem;
	--space-144: 9rem;

	--rowGap: 32px;
}

html,
body {
	font-family: var(--inter-font);
	background-color: var(--primary-dark);
	color: var(--secondary-500);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.w-full {
	max-width: 1400px; /* 1170px */
}

.headline-color {
	color: var(--neutral-900);
}

.sub-headline-color {
	color: var(--neutral-700);
}

.highlight-text {
	background-image: linear-gradient(
		to right,
		#14405e,
		#3e637d,
		var(--accent-500),
		#3e637d,
		#14405e
	);
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero {
	position: relative;
	padding: 15px;
	box-sizing: border-box;
}

.hero > .inner {
	margin: 0 auto;
}

.hero > .inner > .content {
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	column-gap: 64px;
}

.hero > .inner > .content > .hero-copy {
	display: grid;
	row-gap: var(--rowGap);
}

.hero > .inner > .content > .hero-graphic {
	position: relative;
	width: 100%;
	display: none;
	justify-content: flex-end;
	align-items: center;
}

.hero > .inner > .content > .hero-graphic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.hero > .inner > .content .hero-copy .hero-top-proof {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	gap: 8px;
}

.hero > .inner > .content .hero-copy .hero-top-proof > .stars {
	display: flex;
	flex-direction: row;
	gap: var(--space-4);
}

.hero > .inner > .content .hero-copy .hero-top-proof > .stars > * {
	width: 0.938rem;
	height: 0.938rem;
}

.hero > .inner > .content > .hero-copy > .hero-top-proof > .hero-tagline {
	font-weight: 600;
	font-size: var(--text-sm);
}

.hero > .inner > .content > .hero-copy > .hero-title {
	font-weight: 700;
	max-width: 43.75rem;
}

.hero > .inner > .content > .hero-copy > .hero-subtitle {
	max-width: 600px;
}

.hero-cta {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 32px;
}

.hero-cta-subtitle {
	max-width: 11.25rem;
}

.companies > .inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	margin: 0 auto;
	padding: 50.5px 15px 101px;
	gap: var(--rowGap);
}

.companies .item img {
	max-width: 156px;
	height: auto;
}

.companies > .container > .inner > .item:hover {
	transform: translateY(-0.313rem);
}

.features {
	position: relative;
	background: #fff;
}

.features > .inner {
	padding: 128px 15px 128px;
	display: grid;
	grid-template-rows: repeat(2, auto);
	align-items: flex-start;
	row-gap: 64px;
	margin: 0 auto;
}

.feature-column .feature-copy {
	display: grid;
	row-gap: var(--rowGap);
}

.feature-column .feature-copy h3,
.feature-column .feature-copy p {
	max-width: 600px;
}

.feature-column.feature-cards {
	display: grid;
	grid: auto / 1fr;
	align-items: flex-start;
	row-gap: 32px;
}

.feature-cards > .card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1),
		0px 30px 45px -30px rgba(50, 50, 93, 0.25);
}

.feature-cards > .card:first-child {
	margin-top: 0px;
}

.feature-cards > .card:last-child {
	margin-top: 0;
}

.feature-cards .card-image {
	position: relative;
	width: 100%;
}

.features > .inner .card-image > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 5px;
	padding: 0.25rem 0.25rem 0;
}

.feature-cards .card-description {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding: 2rem;
}

.projects > .heading-md {
	margin-bottom: var(--space-40);
	font-weight: 700;
}

.projects > .heading-md {
	text-align: left;
}

.projects > .inner {
	display: grid;
	/* grid-template-rows: repeat(2, 1fr); */
	row-gap: calc(64px * 3);
	margin: 0 auto;
	padding: calc(64px * 3) 15px;
}

.projects .tooltip-text {
	bottom: 105%;
}

.projects > .inner > .item {
	border-radius: 0.5rem;
}

.projects > .inner > .item .card {
	display: grid;
	grid: auto / 1fr;
	gap: 64px;
	align-items: flex-start;
	transition: transform 0.3s ease;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.projects .card img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.column-reverse {
	flex-direction: column-reverse;
}

.projects .card.row-reverse {
	flex-direction: column;
}

.projects .card-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	display: flex;
	background-color: var(--tertiary-light);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1.875rem;
	text-align: center;
}

.projects .card-content h1 {
	margin-bottom: 0.75rem;
}

.projects .card-content h1,
.projects .card-content p {
	color: var(--primary-dark);
}

.projects .card-thumbnail {
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: content-box;
	background-color: var(--tertiary-light);
}

.projects > .inner > .item:nth-child(2) .card-thumbnail {
	grid-area: auto;
}

.projects .card-thumbnail-backdrop {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(76, 79, 87, 0.5);
	color: var(--primary-dark);
	display: flex;
	justify-content: center;
	align-items: center;
}

.projects .card-text {
	position: relative;
	width: 100%;
	height: 100%;
}

.projects .card-text-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: min(var(--space-32), 5%);
	box-sizing: border-box;
	justify-content: space-between;
	gap: var(--space-16);
}

.projects .card-text-wrapper > .main {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 0;
}

.projects .card-text-wrapper > .main > ul.tech-stack {
	list-style: none;
	display: grid;
	grid: auto / repeat(auto-fit, minmax(150px, 1fr));
	padding: 0;
	margin: 0;
	align-items: center;
	/* column-gap: 16px; */
	row-gap: 16px;
}

.projects .card-text-wrapper > .main > ul.tech-stack > li {
	background-color: var(--secondary-500);
	color: var(--secondary-100);
	font-weight: 500;
	font-size: var(--text-sm);
	padding: 0.25rem 0 0.25rem 1.5rem;
	border-radius: 1rem;
	margin: 0.25rem 0;
	position: relative;
}

.projects .card-text-wrapper > .main > ul.tech-stack > li::before {
	content: "✔";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	color: var(--accent-500);
	border-radius: 999px;
}

.projects .card-text-wrapper > .metrics {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100%;
	gap: var(--space-16);
}

.projects .card-text-wrapper > .metrics > div {
	width: 100%;
}

.projects .card-text-wrapper > .metrics .heading-sm {
	font-weight: 700;
	margin-bottom: var(--space-8);
}

.footer-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.footer-pitch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: var(--space-144) auto;
	padding: 0 var(--space-16);
	gap: var(--space-40);
	position: relative;
}

.footer-pitch > .avatar {
	max-width: 18.75rem;
}

.footer-pitch > .description {
	width: 100%;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: auto 0;
	gap: var(--space-40);
}

.footer-pitch > .description > p:last-of-type {
	width: 80%;
}

.footer-pitch > .avatar img {
	width: 7.5rem;
	height: 7.5rem;
	object-fit: cover;
	border-radius: 1.5rem;
}

.footer-wrapper > .copyright {
	position: relative;
	text-align: center;
	padding: var(--space-24) var(--space-16);
	margin: 0 auto;
}

.btn {
	text-decoration: none;
	user-select: none;
	cursor: pointer;
	/* padding: 0.875rem 1.875rem 0.688rem; */
	padding: 15px 35px;
	font-size: var(--text-base);
	font-weight: 600;
	border-radius: 5px;
	position: relative;
	display: inline-block;
	/* line-height: 1.5; */
	transition: all 0.3s ease;
}

.btn-secondary {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(0deg, var(--accent-300), var(--accent-500));
	color: var(--neutral-dark);
}

.btn-secondary:hover {
	background-color: var(--primary-light);
	background-image: linear-gradient(
		360deg,
		var(--accent-500),
		var(--accent-300)
	);
}

.btn-secondary:visited,
.btn-secondary:active {
	color: var(--primary-dark);
}

.emphasize-text {
	font-weight: 600;
	color: var(--secondary-100);
	text-shadow: var(--secondary-900) 0px 0px 3px;
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip-text {
	visibility: hidden;
	opacity: 0;
	width: max-content;
	background-color: var(--tertiary-dark);
	color: var(--primary-dark);
	font-size: var(--text-xs);
	text-align: center;
	padding: 0.4rem 0.75rem;
	border-radius: 0.5rem;

	position: absolute;
	bottom: 125%; /* show above the div */
	left: 50%;
	transform: translateX(-50%);
	z-index: 10;

	transition: opacity 0.3s ease;
	white-space: nowrap;
}

.tooltip:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}

/* Small tablets (≥ 600px) */
@media (min-width: 37.5rem) {
	.hero > .inner > .content {
		grid-template-columns: repeat(2, 1fr);
	}

	.hero > .inner > .content > .hero-graphic {
		display: flex;
	}

	.companies > .inner {
		padding: 0 0 101px;
	}

	.companies .item img {
		max-width: 156px;
		height: 52px;
	}

	.feature-column.feature-cards {
		grid: auto / repeat(2, 1fr);
		column-gap: 32px;
		row-gap: 32px;
	}

	.feature-cards > .card:first-child {
		margin-top: 80px;
	}
}

/* Tablets (≥ 768px) */
@media (min-width: 48rem) {
	.hero {
		padding: min(4.5em, 50%) 15px;
	}

	.hero > .inner > .content .hero-copy .hero-top-proof {
		display: flex;
	}

	.companies > .inner {
		grid-template-columns: repeat(3, 1fr);
	}

	.projects > .inner > .item {
		overflow: visible;
	}

	.projects .card.row-reverse {
		flex-direction: row-reverse;
	}

	.projects .card-text-wrapper > .metrics {
		flex-direction: row;
	}

	.footer-pitch {
		flex-direction: row;
	}

	.footer-pitch > .description {
		flex-direction: row;
		align-items: center;
	}

	.footer-pitch > .avatar img {
		width: 100%;
		height: 250px;
	}

	.footer-pitch > .description > p:last-of-type {
		width: 100%;
	}
}

/* Laptops/desktops (≥ 1024px) */
@media (min-width: 64rem) {
	.companies > .inner {
		grid-template-columns: repeat(5, 1fr);
	}

	.feature-column.feature-cards {
		grid: auto / repeat(3, 1fr);
	}

	.feature-cards > .card:last-child {
		margin-top: -80px;
	}

	.projects > .inner {
		row-gap: calc(64px * 3);
	}

	.projects > .inner > .item .card {
		grid: auto / repeat(2, 1fr);
	}

	.projects > .inner > .item:nth-child(2) .card-thumbnail {
		grid-area: 1 / 2;
	}
}

/* Large screens (≥ 1280px) */
@media (min-width: 80rem) {
}
