:root {
	/* Responsive Font Size */
	--text-xs: clamp(0.75rem, 0.6966rem + 0.2034vw, 0.9rem);
	--text-sm: clamp(0.9375rem, 0.774rem + 0.226vw, 1rem);
	--text-base: clamp(1rem, 0.9288rem + 0.2712vw, 1.2rem);
	--text-lg: clamp(1.125rem, 1.0449rem + 0.3051vw, 1.35rem);
	--text-xl: clamp(1.25rem, 1.161rem + 0.339vw, 1.5rem);
	--text-2xl: clamp(1.5rem, 1.3932rem + 0.4068vw, 1.8rem);
	--text-3xl: clamp(1.875rem, 1.7415rem + 0.5085vw, 2.25rem);
	--text-4xl: clamp(2.25rem, 2.0898rem + 0.6102vw, 2.7rem);
	--text-5xl: clamp(3rem, 2.7864rem + 0.8136vw, 3.6rem);
	--text-6xl: clamp(3.75rem, 3.4831rem + 1.0169vw, 4.5rem);
	--text-7xl: clamp(4.5rem, 4.1797rem + 1.2203vw, 5.4rem);
	--text-8xl: clamp(6rem, 5.5729rem + 1.6271vw, 7.2rem);
	--text-9xl: clamp(8rem, 7.4305rem + 2.1695vw, 9.6rem);

	/* Letter spacing factor*/
	--letter-space-base: -0.025;
	--letter-space-lg: -0.05;

	/* Text decoration*/
	--text-decoration-color: #ffda46;
	--text-decoration-underline-scale-factor: 75%;
	--text-decoration-wave-scale-factor: 90%;
	--text-underline-offset: -25%;
	--text-wave-offset: 0.15625em; /* 2.5px */
}

.text-xs {
	font-size: var(--text-xs);
	line-height: calc(1 / 0.75);
}

.text-sm {
	font-size: var(--text-sm);
	line-height: calc(1.25 / 0.875);
}

.text-base {
	font-size: var(--text-base);
	line-height: calc(1.5 / 1);
}

.text-lg {
	font-size: var(--text-lg);
	line-height: calc(1.75 / 1.125);
	letter-spacing: calc(var(--text-lg) * var(--letter-space-base));
}

.text-xl {
	font-size: var(--text-xl);
	line-height: calc(1.75 / 1.25);
	letter-spacing: calc(var(--text-xl) * var(--letter-space-base));
}

.text-2xl {
	font-size: var(--text-2xl);
	line-height: calc(2 / 1.5);
	letter-spacing: calc(var(--text-2xl) * var(--letter-space-lg));
}

.text-3xl {
	font-size: var(--text-3xl);
	line-height: calc(2.25 / 1.875);
	letter-spacing: calc(var(--text-3xl) * var(--letter-space-lg));
}

.text-4xl {
	font-size: var(--text-4xl);
	line-height: calc(2.5 / 2.25);
	letter-spacing: calc(var(--text-4xl) * var(--letter-space-lg));
}

.text-5xl {
	font-size: var(--text-5xl);
	line-height: 1;
	letter-spacing: calc(var(--text-5xl) * var(--letter-space-lg));
}

.text-6xl {
	font-size: var(--text-6xl);
	line-height: 1;
	letter-spacing: calc(var(--text-6xl) * var(--letter-space-lg));
}

.text-7xl {
	font-size: var(--text-7xl);
	line-height: 1;
	letter-spacing: calc(var(--text-7xl) * var(--letter-space-lg));
}

.text-8xl {
	font-size: var(--text-8xl);
	line-height: 1;
	letter-spacing: calc(var(--text-8xl) * var(--letter-space-lg));
}

.text-9xl {
	font-size: var(--text-9xl);
	line-height: 1;
	letter-spacing: calc(var(--text-9xl) * var(--letter-space-lg));
}

.text-decoration-underline-sm {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-sm) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-base {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-base) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-lg {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-lg) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-xl {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-xl) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-2xl {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-2xl) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-3xl {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-3xl) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-4xl {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-4xl) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-5xl {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-5xl) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-6xl {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-6xl) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-7xl {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-7xl) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-8xl {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-8xl) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}

.text-decoration-underline-9xl {
	text-decoration: underline blink var(--text-decoration-color)
		calc(var(--text-9xl) - var(--text-decoration-underline-scale-factor));
	text-decoration-skip-ink: none;
	text-underline-offset: var(--text-underline-offset);
}
